.icon-16-dashboard       {
	background-image: url(../img/icon-16-dashboard.png);
}

.icon-32-dashboard       {
	background-image: url(../img/icon-32-dashboard.png);
}

.icon-48-dashboard       {
    background-image: url(../img/icon-48-dashboard.png);
}

.icon-16-book       {
	background-image: url(../img/icon-16-book.png);
}

.icon-32-book       {
	background-image: url(../img/icon-32-book.png);
}

.icon-48-book       {
    background-image: url(../img/icon-48-book.png);
}

.icon-16-stack       {
	background-image: url(../img/icon-16-stack.png);
}

.icon-32-stack       {
	background-image: url(../img/icon-32-stack.png);
}

.icon-48-stack       {
    background-image: url(../img/icon-48-stack.png);
}

.icon-16-cog       {
	background-image: url(../img/icon-16-cog.png);
}

.icon-32-cog       {
	background-image: url(../img/icon-32-cog.png);
}

.icon-48-cog       {
    background-image: url(../img/icon-48-cog.png);
}

.icon-32-arrow-left  {
	background-image: url('../img/icon-32-arrow-left.png');
}

[class^="icon-"][disabled], [class*=" icon-"][disabled], [class^="icon-"].disabled, [class*=" icon-"].disabled {
	cursor: default; opacity: 0.25;
}


.j25-icon-32-arrow-left  {
	width: 32px !important;
	height: 32px !important;
	background-image: url('../img/icon-32-arrow-left.png');
	background-position: 0px 0px;
}

.color-sample {
	width:18px;
	height:18px;
    background-color: #000000;
}

.container-box-small {
    width:   24px;
    height:  24px;
    float:   left;
    margin:  3px 10px 10px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
}

.container-box-large {
    width:   40px;
    height:  40px;
    float:   left;
    margin:  10px;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
}

.container-title {
	margin-left: 10px;
}

.containerj25-h1 {
	border-bottom: 0 !important;
}

.containerj25-p-muted {
	line-height: 0px !important;
	margin: 8px 0px 0px 0px !important;
}

.gorilla-footer{
    position:   absolute;
    bottom:     0px;
    width:      100%;
    text-align: center;
}

/* Dashboard */
.gorilla-dashboard-box-main-div {
    margin-right: 15px;
    float: left;
    margin-bottom: 15px;
    text-align: center;
    font-size: 0.9em;
}

.gorilla-dashboard-box-a {
    padding: 7px 5px 5px;
    background-color: #FFF;
    background-position: -30px center;
    display: block;
    float: left;
    /*height: 97px;*/
    width: 108px;
    color: #565656;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid #CCC;
    border-radius: 5px;
    transition-property: none;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1) inset, 5px 5px 10px rgba(0, 0, 0, 0.05) inset;
}

.gorilla-dashboard-box-containers-div {
    display: block;
    width: 48px;
    height: 48px;
    text-indent: -99999px;
    overflow: hidden;
    background-position: 0px 0px;
    background: url(../img/icon-48-book.png) no-repeat scroll left top transparent;
    margin: 4px auto 6px;
}

.gorilla-dashboard-box-documents-div {
    display: block;
    width: 48px;
    height: 48px;
    text-indent: -99999px;
    overflow: hidden;
    background-position: 0px 0px;
    background: url(../img/icon-48-stack.png) no-repeat scroll left top transparent;
    margin: 4px auto 6px;
}

.gorilla-dashboard-box-config-div {
    display: block;
    width: 48px;
    height: 48px;
    text-indent: -99999px;
    overflow: hidden;
    background-position: 0px 0px;
    background: url(../img/icon-48-cog.png) no-repeat scroll left top transparent;
    margin: 4px auto 6px;
}

.gorilla-dashboard-box-span {
	display: block;
	text-align: center;
	margin: 0px 0px 0px 0px !important;
}

.gorilla-dashboard-logo {
    width: 292px;
    height: 122px;	
    background-position: 0px 0px;
	background: url(../img/gorilla-mini.png) no-repeat scroll left top transparent;
	background-size: 292px 122px;
	background-repeat:no-repeat;	
}

/* Dropzone */

.dropzone-within-form {
	margin-right: 50px;
}
