.icon-16-dashboard       {
	background-image: url(../img/icon-16-dashboard.png);
}

.icon-32-dashboard       {
	background-image: url(../img/icon-32-dashboard.png);
}

.icon-48-dashboard       {
    background-image: url(../img/icon-48-dashboard.png);
}

.icon-16-book       {
	background-image: url(../img/icon-16-book.png);
}

.icon-32-book       {
	background-image: url(../img/icon-32-book.png);
}

.icon-48-book       {
    background-image: url(../img/icon-48-book.png);
}

.icon-16-stack       {
	background-image: url(../img/icon-16-stack.png);
}

.icon-32-stack       {
	background-image: url(../img/icon-32-stack.png);
}

.icon-48-stack       {
    background-image: url(../img/icon-48-stack.png);
}

.icon-32-arrow-left  {
	background-image: url('../img/icon-32-arrow-left.png');
}

[class^="icon-"][disabled], [class*=" icon-"][disabled], [class^="icon-"].disabled, [class*=" icon-"].disabled {
	cursor: default; opacity: 0.25;
}


.j25-icon-32-arrow-left  {
	width: 32px !important;
	height: 32px !important;
	background-image: url('../img/icon-32-arrow-left.png');
	background-position: 0px 0px;
}

.color-sample {
	width:18px;
	height:18px;
    background-color: #000000;
}

.notebook-box-small {
    width:   24px;
    height:  24px;
    float:   left;
    margin:  3px 10px 10px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
}

.notebook-box-large {
    width:   40px;
    height:  40px;
    float:   left;
    margin:  10px;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
}

.notebook-title {
	margin-left: 10px;
}

.notebookj25-h1 {
	border-bottom: 0 !important;
}

.notebookj25-p-muted {
	line-height: 0px !important;
	margin: 8px 0px 0px 0px !important;
}

.gorilla-footer{
    position:   absolute;
    bottom:     0px;
    width:      100%;
    text-align: center;
}